body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

a.button {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

a.button:hover {
    background-color: #0056b3;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px; 
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
}

nav a:hover {
    background-color: #f0f0f0;
    color: #000000;
}

#logout{
    background-color: crimson;
}