<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-vaccine</title>
    <link rel="stylesheet" href="../static/add_center.css">
</head>
<body>
    <h1>Add New Center</h1>
    <form action="/add_center" method="POST">
        <label for="name">Center Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>
        <label for="working_hours">Working Hours:</label>
        <input type="text" id="working_hours" name="working_hours" required><br><br>
        <button type="submit" id="submit">Add Center</button>
    </form>
    <nav>
        <a href="/admin_dashboard">Back to Admin Dashboard</a>
        <a href="/logout" id="logout">Logout</a>
    </nav>
</body>
</html>
