<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-vaccine</title>
    <link rel="stylesheet" href="../static/center_details.css">
</head>
<body>
    <h2>{{ center.name }}</h2>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                
                <th>Doses Booked</th>
            </tr>
        </thead>
        <tbody>
            {% for record in dosage_details %}
                <tr>
                    <td>{{ record.date }}</td>
                    
                    <td>{{10 - record.doses_booked }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
